<%- include( 'head' ) %>

<main>

        <h1>Join the call</h1>

        <canvas></canvas>
        <video></video>

        <div>
                <button class="sound">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 58"><path d="M44 28a1 1 0 0 0-1 1v6c0
7.72-6.28 14-14 14s-14-6.28-14-14v-6a1 1 0 1 0-2 0v6c0 8.485 6.644 15.429 15 15.949V56h-5a1 1 0 1 0 0 2h12a1 1 0 1 0
0-2h-5v-5.051c8.356-.52 15-7.465 15-15.949v-6a1 1 0 0 0-1-1z"/><path d="M29 46c6.065 0 11-4.935
11-11V11c0-6.065-4.935-11-11-11S18 4.935 18 11v24c0 6.065 4.935 11 11 11zm-9-35c0-4.963 4.038-9 9-9s9 4.037 9 9v24c0
4.963-4.038 9-9 9s-9-4.037-9-9V11z"/></svg>
                </button>
                <button class="call">
                        Join call
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.731 29.731"><path d="M23.895
29.731c-1.237 0-2.731-.31-4.374-.93-3.602-1.358-7.521-4.042-11.035-7.556C4.971 17.73 2.287 13.81.928 10.208-.307
6.933-.31 4.245.921 3.015c.177-.177.357-.367.543-.563C2.587 1.271 3.856-.058 5.538.002 6.697.05 7.82.77 8.97 2.201c3.398
4.226 1.866 5.732.093 7.478l-.313.31c-.29.29-.838 1.633 4.26 6.731 1.664 1.664 3.083 2.882 4.217 3.619.714.464 1.991
1.166 2.515.642l.315-.318c1.744-1.769 3.25-3.296 7.473.099 1.431 1.15 2.15 2.272 2.198 3.433.069 1.681-1.27 2.953-2.452
4.075-.195.186-.385.366-.562.542-.611.612-1.588.919-2.819.919zM5.418 1C4.223 1 3.144 2.136 2.189
3.141c-.192.202-.378.398-.561.581-.917.916-.824 3.323.236 6.134 1.31 3.472 3.913 7.266 7.33 10.683 3.416 3.415 7.208
6.018 10.681 7.327 2.811 1.062 5.218 1.152 6.133.237.183-.183.379-.369.581-.56 1.027-.976 2.192-2.082
2.141-3.309-.035-.843-.649-1.75-1.825-2.695-3.519-2.83-4.503-1.831-6.135-.176l-.32.323c-.78.781-2.047.608-3.767-.51-1.193-.776-2.667-2.038-4.379-3.751-4.231-4.23-5.584-6.819-4.26-8.146l.319-.315c1.659-1.632
2.66-2.617-.171-6.138-.947-1.175-1.853-1.789-2.696-1.825L5.418 1z"/></svg>
                </button>
                <button class="video">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 76"><path d="M72.9 14.4L56
25.3V22c0-4.4-3.6-8-8-8H8c-4.4 0-8 3.6-8 8v32c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-3.3l16.9 10.9c1.9 1 3.1-.7
3.1-1.7V16c0-1-1.1-2.8-3.1-1.6zM52 54c0 2.2-1.8 4-4 4H8c-2.2 0-4-1.8-4-4V22c0-2.2 1.8-4 4-4h40c2.2 0 4 1.8 4 4v32zm20
2.3L56 46V30l16-10.3v36.6z"/></svg>
                </button>
        </div>

</main>

<%- include( 'end' ) %>
